[submodule ".local/share/nvim/site/pack/plugins/start/rust.vim"]
	path = .local/share/nvim/site/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".local/share/nvim/site/pack/plugins/start/zig.vim"]
	path = .local/share/nvim/site/pack/plugins/start/zig.vim
	url = https://github.com/ziglang/zig.vim
